# Practical **Questions**

In [ ]:
#DP Write a code to create a string with your name and print it
name="jaya pal"
print(name)

jaya pal

In [ ]:
#2 Write a code to find the length of the string "Hello World"
x="hello world"
print(len(x))

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
x=="python programming"
print(x[0:3])

hel

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
x="hello"
print(x.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
x="I like apple"
print(x.replace("apple", "orange"))

I like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
x=[1,2,3,4]
num=x+[10]
print(num)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
x=[1,2,3,4,5]
num= [x[0],x[1],x[3],x[4]]
print(num)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
x=['a','b','c','d']
y = x[1] # Access the second element (index 1)
print(y)

b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
x=[10,20,30,40,50]
print(x[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12.. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red','green','blue','yellow')
print(tuple[-2])

In [ ]:
#13 . Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
minimum_number = min(tuple)
print(minimum_number)

5

In [ ]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
x=('dog','cat','rabbit')
print(x.index('cat'))

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
x= ("apple", "mango","orange")
if "kiwi" in x:
  print("kiwi is in tuple")
else:
  print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [1]:
#16.write a code to create a set with the elements'a','b','c'
# Creating a set using set() constructor
my_set = set(['a', 'b', 'c'])

# Printing the set
print(my_set)

{'a', 'b', 'c'}

In [2]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Making it empty
my_set = set()

# Printing the set (will be empty)
print(my_set)

set()

In [3]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}
# Creating a set
my_set = {1, 2, 3, 4}

# Removing element 4
my_set.remove(4)

# Printing the set
print(my_set)

{1, 2, 3}

In [5]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
# Creating two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union
union_set = set1.union(set2)

# Printing the result
print(union_set)

{1, 2, 3, 4, 5}

In [6]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
# Creating two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding intersection using '&'
intersection_set = set1 & set2

# Printing the result
print(intersection_set)

{2, 3}

In [7]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Creating a dictionary
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

# Printing the dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [8]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#23. . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Accessing the value of "name"
print(my_dict['name'])

Alice

In [10]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
# Creating a dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age"
del my_dict['age']

# Printing the updated dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [11]:
#25.
# Creating a dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Checking if "city" exists
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [12]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4]

# Creating a tuple
my_tuple = (10, 20, 30)

# Creating a dictionary
my_dict = {"name": "John", "age": 25}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: (10, 20, 30)
Dictionary: {'name': 'John', 'age': 25}

In [13]:
#27.
import random

# Creating a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
numbers.sort()

# Printing the result
print(numbers)

[30, 58, 70, 71, 79]

In [14]:
#28.
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "date", "mango"]

# Printing the element at the third index
print(my_list[3])

date

In [15]:
#29.. Write a code to combine two dictionaries into one and print the result.
# Creating two dictionaries
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [16]:
#30. Write a code to convert a list of strings into a set.
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple"]

# Converting list into a set
my_set = set(my_list)

# Printing the set
print(my_set)

{'banana', 'cherry', 'apple'}

theoritical answers
1. What are data structures, and why are they important?
   Data structures are ways of organizing and storing data. They are important because they allow efficient data access, modification, and storage for solving computational problems.

2. Explain the difference between mutable and immutable data types with examples.

   Mutable: Can be changed after creation (e.g., list, dict, set).

  Immutable: Cannot be changed after creation (e.g., tuple, string, int).

3. What are the main differences between lists and tuples in Python?

   Lists are mutable; tuples are immutable.

   Lists use []; tuples use ().

   Tuples are faster and memory-efficient compared to lists.

4. Describe how dictionaries store data.
   Dictionaries store data as key-value pairs using a hash table internally, where keys are unique.

5. Why might you use a set instead of a list in Python?

   To store unique elements.

   For faster membership checks (in).

   To perform set operations like union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?
  A string is a sequence of characters (immutable), while a list is a collection of elements (mutable).

7. How do tuples ensure data integrity in Python?
  Since tuples are immutable, their values cannot be changed after creation, ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
  A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
  yes, lists can contain mixed data types (e.g., [1, "hello", 3.5, True]).

10. Explain why strings are immutable in Python.
  Strings are immutable to improve security, efficiency (hashing), and memory management.

11. What advantages do dictionaries offer over lists for certain tasks?

  Faster lookups using keys (O(1)).

  Data association with meaningful keys instead of numeric indices.

12. Describe a scenario where using a tuple would be preferable over a list.
  When storing constant data like coordinates (x, y) or days of the week, where data should not be modified.

13. How do sets handle duplicate values in Python?
  Sets automatically remove duplicate values and only store unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?

  For lists: Checks if a value exists in the list.

  For dictionaries: Checks if a key exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
  No, tuples are immutable, so their elements cannot be modified once created.

16. What is a nested dictionary, and give an example of its use case?
 A nested dictionary is a dictionary within another dictionary.
  Example:

  students = {
  "101": {"name": "Alice", "age": 20},
  "102": {"name": "Bob", "age": 22}
  }


  Use case: Representing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary.
  Average case: O(1) (constant time) using hashing.
  Worst case: O(n) (very rare, when collisions happen).

18. In what situations are lists preferred over dictionaries?

  When order matters.

  When you need sequential data.

   When you don’t need key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    Before Python 3.7, dictionaries did not maintain insertion order (unordered). This meant retrieval order was not guaranteed. From Python 3.7+, they preserve insertion order, but still, data retrieval is based on keys, not positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  List: Retrieve elements using an index (list[0]).

  Dictionary: Retrieve elements using a key (dict["name"]).